{% extends 'base.html' %}

{% block content %}


    <h2> Add book In Library</h2>  
    

<form method ="POST">
  {% csrf_token %}

<label> Book name </label>
<input type=" text" name ="nm" required><br><br>

<label> Book Price </label>
<input type=" text" name ="pri"required><br><br>

<label> Book Qty </label>
<input type=" text" name ="qty"required><br><br>

<label> Book Is published </label>
<br>

Yes &nbsp;<input type="radio" value = "YES" name ="ispub" checked>&nbsp;&nbsp;
No &nbsp;<input type="radio" Value = "NO" name ="ispub">
<br><br>
<br>

<input type="submit" class="btn btn-primary">
</form>

     
{% endblock %}
          
  
    